# This file was updated by Duplicator Pro on 2022-12-03 17:36:38.

# BEGIN WordPress
<IfModule mod_rewrite.c>
RewriteEngine On
RewriteBase /nguyenxua/
RewriteRule ^index\.php$ - [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /nguyenxua/index.php [L]
</IfModule>
# END WordPress